/* styles.css */
body {
    background-color: lightblue;
}

/* Seletor de classe */
.cubo {
    
    background-color: #3498db;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;

}
.container{
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
 }
 #nav-tabContent{
   background-image: -moz-element();


 }